.auth-container {
  background-image: url("./assets/image/bg-auth.png");
  background-size: cover;
}
.bg-overly {
  background: linear-gradient(
    rgba(47, 140, 96, 0.4),
    rgba(0, 0, 0, 0.6)
  );
}
.auth-container i {
  color: #8391a1;
}

.auth-container .login-btn {
  background-color: #4aa35a !important;
  color: #fff;
  font-weight: 700;
}
.auth-container .links .frg-pass {
  color: #4aa35a !important;
  text-decoration: none !important;
  font-weight: 500;
}

.auth-container .links .frg-pass:hover {
  cursor: pointer;
  color: #4aa35a !important;
}
.sidebar-container .ps-sidebar-container{
  background: #1f263e;
  color: #fff;
  height: 100vh;
}
.sidebar-container .ps-sidebar-container .ps-menu-button:hover{
  background-color: rgba(47, 140, 96, 0.4) ;
}
.header-container{
  background-image: url("./assets/image/header-bg-svg.svg");
  background-size: cover;
  color: #fff;
}

.fa.fa-trash:hover ,.fa.fa-edit:hover,.fa.fa-eye:hover{
  cursor: pointer ;

}


/* 
recipeheader-container Components
*/

.recipeheader-container{
  background: #F0FFEF;
}




.register .logo-container{
  width: 100%;
  /* background-color: aqua; */
}
.register .logo-container img{
  width: 35%;
}
.maintext{
  color: #494949  ;
}
.secondtext{
  font-size: 14px;
}.inputdetails span{
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}
.inputdetails input{
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;

}.nounderline
{
  text-decoration: none;
}
